body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); */
  background-image: url(https://i.pinimg.com/originals/7f/6f/47/7f6f477a94cd68fa4f441457af4c8ca1.gif)
}
.gif {
  position: absolute;
  pointer-events: none;
  z-index: 2;
}

.valentine-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
/* Custom class for Yes button styles */
.yes-button {
  font-family: "Roboto", "Arial", sans-serif;
  background-color: rgba(91, 173, 254, 0.46) ; /* bg-green-500 */
  color: #EEF5FF; /* text-white */
  font-weight: bold; /* font-bold */
  padding: 8px 16px; /* py-2 px-4 */
  border-radius: 16px; /* rounded */
  margin-right: 8px; /* mr-4 */


}

.yes-button:hover {
  background: radial-gradient(circle at 10% 20%, rgba(91, 173, 254, 0.46) 0%, rgba(91, 224, 254, 0.46) 47.2%, rgba(170, 254, 235, 0.43) 90%);
}

/* Custom class for No button styles */
.no-button {
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #FF8080; /* bg-red-500 */
  color: #EEF5FF; /* text-white */
  font-weight: bold; /* font-bold */
  padding: 8px 16px; /* py-2 px-4 */
  border-radius: 16px; /* rounded */
}

.no-button:hover {
  background: linear-gradient(108.4deg, rgb(253, 44, 56) 3.3%, rgb(176, 2, 12) 98.4%);

}
/* Custom class for text-4xl my-4 container */
.text-container {
  border-radius: 25px;
  font-size: 2.25rem; /* Equivalent to text-4xl in tailwindcss */
  margin-top: 1rem; /* Equivalent to my-4 in tailwindcss */
  margin-bottom: 1rem; /* Equivalent to my-4 in tailwindcss */
  font-family: "Comic Sans MS", cursive;
}

.centered-container {
  display: flex;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  height: 100vh;
  margin: 0;
}


/*  Customer button */

